<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlightAppCalender.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B8842D761F84C02800F23718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8842D921F84C02800F23718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8842D9D1F84C02800F23718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
